<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangiliklar</title>
</head>
<body>

    <h1>
        Vakillik parlamenti, tenglik, so‘z va matbuot erkinligi kafolatlari: jadidlarning milliy huquq tizimini
        shakllantirishdagi o‘rni haqida
    </h1>
    <h2>
        Jadidlar deganda odatda ko‘z o‘ngimizda bo‘yniga zanjir osilgan, qamoq panjarasi ortida o‘tirgan yoki uvadasi
        chiqib ketgan chopondagi Avloniy, Qodiriy, Cho‘lpon, Fitrat yoki Behbudiylar gavdalanadi. Ularning bo‘yniga
        osilgan zanjir ortida millat hurligi va erki uchun bo‘lgan tinimsiz kurash haqida esa xalqqa juda oz ma’lumot
        yetkazilgan. Bu maqolada esa jadidlarning tor doiralardagina gapirilgan milliy huquq tizimini shakllantirishdagi
        o‘rni borasida so‘z yuritamiz.
    </h2>
    <img src="https://storage.kun.uz/source/10/77suptyNnp4ZtU1nxdd_GZxCEB_HvXy9.jpg"  alt="Yangilik rasmi">
    <h1>
        XX asr boshlarida Turkiston o‘lkasida vujudga kelgan jadidchilik g‘oyasi yangicha tafakkur va islohotlarning yoritgichi edi. U nafaqat ta’lim yoki madaniy-ma’rifiy uyg‘onish, balki chuqur siyosiy va huquqiy yuksalishni ham o‘zida mujassam etgandi. Ko‘plab bosim, qarshilik va tazyiqlar sharoitida jadidlar o‘rnatilgan dogmatik tartib-qoidalarga dadil qarshilik ko‘rsatib, dunyoviylikni, konstitutsiyaviylikni, ayollar huquqlarini va xalqimizning o‘z taqdirini o‘zi belgilashdek milliy istiqlolini o‘z ichiga olgan keng qamrovli g‘oya va islohotlarni ilgari surdi.

Jadid islohotchilari faqat madaniy yoki pedagogik o‘zgarishlar bilan kifoyalanib qolmadi – ularda juda jiddiy siyosiy ambitsiyalar – mavjud tuzumni tubdan isloh qilish maqsadi ham bor edi. Mintaqada rus ta’sirining kuchayishidan xavotirga tushgan jadidlar o‘lkada monarxiya hokimiyatini cheklab, uni tubdan qayta qurishni va boshqaruvda ommaga kengroq o‘rin beradigan siyosiy manzarani tasavvur qildi.

Xususan, ular diniy idoralarning siyosiy ishlardagi vakolatlarini cheklashga intilib, boshqaruvni keng qamrovli sekulyarizatsiya qilish g‘oyasini ilgari surdi. Jumladan, Abdurauf Fitrat singari faol jadidlar diniy muassasalar konservatizm qal’asiga aylanib, modernizatsiyaga to‘sqinlik qilayotganini uqtirdi.

Jadidlar fuqarolar erkinliklarini huquqiy mustahkamlash va suverenitetni ta’minlashga yo‘naltirilgan huquqiy asosni yaratishga qaratilgan konstitutsiyaviy g‘oyalarni ilgari surdi. Masalan, “Yosh buxoroliklar”ning 1917 yilgi islohot loyihasi nafaqat vakillik parlamenti, balki, so‘z erkinligi, matbuot erkinligi, qonun oldida tenglik va qonuniy jarayonning kafolatlarini ham talab qildi.

Bunday konstitutsiyaviy-huquqiy g‘oya jadidlarning butun Turkistonda milliy uyg‘onish va o‘zini o‘zi boshqarish, taqdirini o‘zi hal etishga chorlovchi shiddatli targ‘ibotiga mos tushdi. Chor hukmdorlarining, keyin esa sho‘roviy zo‘ravonlikning shafqatsiz tahdidiga duch kelganiga qaramay, Behbudiy, Avloniy, Siddiqiy Ajziy, Ibrat, Abdulla Qodiriy, Cho‘lpon, Xamza kabi jadid ziyolilari o‘zbek milliy ongini, g‘ururini faol tarbiyalab yuksaltirishga urindi. Ularning targ‘ibot hamda tarbiyaviy ishlari bevosita vatanparvarlik, millatparvarlik va siyosiy mustaqillikka erishishga qaratildi.

1917 yilgi “Yosh buxoroliklar”ning jamiyat boshqaruvini isloh qilish dasturi – mazkur harakat tomonidan ilgari surilgan keng qamrovli islohotlar jadvali – jadidlar siyosiy-huquqiy qarash va intilishlarining cho‘qqisini ifodaladi. Fayzulla Xo‘jayev, Mahmudxo‘ja Behbudiy va boshqalar tomonidan tuzilgan mazkur dastur Buxoro amirligining mustabid apparatini butkul yo‘q qilishni dadillik bilan talab qildi.

Boshqaruv shaklida esa ular konstitutsiyaviy boshqaruvni ta’minlash uchun to‘liq mustaqil sud tizimi bilan bir qatorda qonun ijodkorligi vakolatiga ega bo‘lgan saylangan milliy qonun chiqaruvchi organ (Parlament) tashkil etishni taklif qildi. Taklif etilgan konstitutsiya jadidchilik mafkurasini aks ettirish barobarida so‘z erkinligi, ommaviy axborot vositalari erkinligi, jamoat yig‘ilishlari, uy-joy daxlsizligi va insoniy kamsitilmaslik singari muhim fuqarolik huquqlarini mustahkam kafolatlashga qaratildi. Shuningdek, ushbu tashabbus orqali bolalar huquqini himoya qilish hamda yosh va majburiy nikohlarni tugatishga chaqirdi.

Tarixiy manbalar jadidlarning Turkiston o‘lkasida qonun ustuvorligini o‘rnatish va fuqarolar huquqlarini institutsionalizatsiya qilish bilan jiddiy shug‘ullanganini ko‘rsatadi. Xususan, Munavvar Qori kabi oydinlar har jabhada chinakam adolat, mustahkam huquqiy institutlar va qonun oldida tenglikni qat’iy talab qilishini ta’kidlagan. U ta’kidlaganidek, taraqqiyot uchun davlat fuqarolarning huquqiy tengligi va erkinligini ta’minlashi kerak.

Jadid ziyolilari qadimiy shariat ahkomlarini almashtirish uchun mahalliy sharoitlarga moslashtirilgan, Ovrupa tajribasi asosida takomillashtirilgan huquqiy tizimlarni tatbiq etishni targ‘ib qildi. Huquqiy modernizatsiyaga bo‘lgan bu ishtiyoq jadid konstitutsiyaviyligi bilan uyg‘unlashdi – ular mustaqil sudlarni tizimli ijro va sud amaliyoti orqali yangi mustahkamlangan fuqarolar erkinliklarini himoya qilishni nazarda tutdi.

Ayrim jadidlar huquqiy yordam ko‘rsatish uchun ixtiyoriy uyushmalar ham tuzdi. Masalan, M.Abdurashidxonov tomonidan “Xalq himoyachisi” byurosi tashkil etilgan bo‘lib, ular beg‘araz huquqiy maslahat berishni tashkil etdi. Bunday huquqiy faollik aholining huquqiy ongini oshirishning ajralmas qismi edi.

Xotin-qizlar tengligi va huquqlarini faol himoya qilgan Mahmudxo‘ja Behbudiy, Abdurauf Fitrat, Abdulhamid Cho‘lpon va Munavvar qori kabi ko‘plab taniqli jadidlar ayollarning mavqeyi va huquqlarini oshirishning ochiq tarafdorlari bo‘lgan. Ular ko‘pxotinlilik, majburiy nikoh va nomus o‘ldirish kabi regressiv amaliyotlarni axloqsizlik sifatida keskin qoraladi. Buning o‘rniga jadidlar, jumladan, Fitrat “jamiyat o‘z ma’rifatini ayollarga munosabati bilan ko‘rsatadi”, deya qat’iy ta’kidlagan.

Shunga ko‘ra, ular ayollarning ta’lim olish, yosh turmushga chiqishni cheklash, saylov huquqi kabi siyosiy huquqlari ta’minlanishi zarurligini ilgari surib, ushbu g‘oyalarni himoya qildi. Ko‘pgina jadid yetakchilari gender tengligini insoniy, ma’naviy shart sifatida jasorat bilan himoya qildi, “Ayollar ozodligi” kabi risolalarni nashr etdi, birdamlikni targ‘ib qilish uchun “Ayollar uyg‘onishi” kabi jamiyatlar tuzdi. Vaqt o‘tishi bilan jadidlarning ijtimoiy-huquqiy targ‘iboti ayollarning imkoniyatlari va ularning jamiyatdagi o‘rni haqidagi qarashlarni mazmunli o‘zgartirdi – keyingi dunyoviy huquqiy islohotlar uchun mafkuraviy asoslarni yaratdi.

Mahmudxo‘ja Behbudiy boshliq jadidlar ozchilik huquqlari va diniy erkinlik, diniy bag‘rikenglik va ozchilik huquqlarini himoya qiluvchi fuqarolik siyosiy qarashlarini ilgari surdi. Behbudiy “Xalqning buyukligi uning bag‘rikengligidadir” deya ta’kidlagan edi. Jadid bobomiz o‘zining ilg‘or tafakkurida milliy-diniy rang-baranglik va plyuralizmni keng qamrab oldi.

Diniy va etnik mansubligidan qat’i nazar, teng huquqlilik tarafdori bo‘lgan islohotchi jadidlar ozchilik guruhlariga nisbatan kamsitishni qat’iyan rad etdi. Ular yangi Turkiston siyosatini millatlararo totuvlik va bag‘rikenglik ma’rifiy tamoyillari, madaniy kichik guruhlar o‘rtasidagi o‘zaro xayrixohlik tamoyillariga asoslangan holda tasavvur qildi.

Biz mustaqillik qo‘lga kiritilganidan so‘ng Markaziy Osiyo respublikalari tomonidan qabul qilingan ko‘p millatli va ko‘p madaniyatli milliy davlat qurish yondashuvlari asosida jadidlarning ayni shunday bag‘rikenglikka yo‘naltirilgan xilma-xillik siyosatining kuchli aks sadolarini ko‘ramiz. Ozchiliklarning til huquqlari va diniy erkinliklarini ta’minlovchi asosiy siyosiy qarashlar va o‘zaklar aynan jadidlar huquqiy mafkurasining markaziy ustunlaridan edi.

Ideal boshqaruv haqidagi tarixiy risolalardan farqli ravishda jadidlar harakati o‘z e’tiborini jamiyatda huquqning vazifalari va qo‘llanishi to‘g‘risidagi jamoatchilik tushunchasini real oshirishga qaratishdi. Bunga erishish uchun ko‘plab jadidlar huquq falsafasi yoki parlament jarayoniga oid kitoblarni Turkiston xalqlari tillariga tarjima qilish bo‘yicha nashr ishlariga boshchilik qildi.

Boshqalar esa, aytilganidek, mahallalarda yuridik yordam markazlarini tashkil etish, fuqarolar huquqlariga oid risolalar tarqatish yoki Abdurashidxonovning “Xalq himoyachisi” kabi soddalashtirilgan yuridik jurnallarni chiqarishga e’tibor qaratdi. 1910–1913-yillar oralig‘ida nashr etilgan ushbu jurnal sud institutlari, asosiy huquqiy tushunchalar va shikoyatlar bilan murojaat qilish yoki fuqarolik harakatlarini uyushtirib o‘tkazish strategiyalarini tushuntirishda juda muhim minbar bo‘ldi.

Jadidlar bunday ma’rifiy tadbirlar orqali ilgari zamonaviy fuqarolik yoki konstitutsiyaviy tuzumlardan bexabar bo‘lgan ko‘plab turkistonliklarning huquqiy ongini keskin o‘zgartirdi. Huquqiy savodxonlikning bu harakati keyinchalik monarxik despotizmga qarshi kuchayib borayotgan uyushgan norozilikni faol oziqlantirdi.

Jadidlarning huquqiy va siyosiy zamonaviylik haqidagi ilg‘or qarashlari sho‘ro davlati parchalanganidan keyin butun Markaziy Osiyo yosh davlatlari qurilishida sezilarli asos bo‘ldi. Xususan, milliy mustaqillikka erishgan O‘zbekiston boshqaruv tuzilmalari va huquqiy asoslarini loyihalashda jadidchilik fikridan ko‘p va ijodiy foydalanildi.

Jadidchilikning asosiy tamoyillari bugungi kunda ham mamlakatimizda davom etayotgan islohotlarda namoyon bo‘lmoqda. Masalan, fuqarolarning oliy ta’lim olish imkoniyatlarini kengaytirish, zamonaviy kadrlar salohiyatini oshirish, mulkiy huquqlarni ta’minlash, gender tengligiga erishish va ayollar huquq va imkoniyatlarini kengaytirish kabi islohotlar jadidlarning qonunning o‘zgaruvchan salohiyatiga bo‘lgan qat’iy ishonchida namoyon bo‘lgan va bugungi kun islohotlari negizida turibdi.

Xulosa qilib aytganda, jadidlarning ilg‘or siyosiy va huquqiy qarashlari Markaziy Osiyo xalqlari takomiliga samarali ijobiy ta’sir ko‘rsatdi. Ularning ma’rifatli, huquqqa asoslangan boshqaruvni qo‘msab o‘tkazgan ishtiyoqli targ‘iboti bugungi Yangi O‘zbekistonda o‘tkazilayotgan tarixiy islohotlar g‘oyalariga ham turtki beradi. Zero, mustaqil mamlakatimizda amalga oshirilayotgan zamonaviy davlat qurish loyihalari dunyoviy konstitutsiyaviylik, ijtimoiy davlat, ta’lim imkoniyatlarini kengaytirish, jamoatchilik huquqiy ongini yuksaltirishga asoslangan yangi jadidchilik hissiyotlari bilan to‘lib-toshgan.

Chinakam islohotchilikning boy merosi vorislari sifatida biz qonun ostida ijtimoiy adolat va huquqiy tenglikni ta’minlash, jadid bobolarimizning xalqparvar ezgu orzu-umidlarini ro‘yobga chiqarish yo‘lida sidqidildan harakat qilishimiz lozim. Bizning umumiy taqdirimiz ana shu tarixiy missiya – mas’uliyatni o‘z zimmamizga olishimizga bog‘liq.

Islambek Rustambekov,
yuridik fanlari doktori, professor
Toshkent davlat yuridik universiteti rektori v.b.
    </h1>
    <div>
<!--        <h2>Sun’iy intellekt qanchalik xavfli yoki foydali?</h2>-->
<!--        <p>— Sun’iy intellekt odamlardan ishini tortib olmaydimi?-->

<!--— Rostdan ham bu savol hozir juda dolzarb. Sun’iy intellektning o‘zi odamlarning ishini olib qo‘ymaydi. Lekin sun’iy intellektdan unumli foydalana oladigan boshqa odamlar tortib olishi mumkin. Sun’iy intellektning aynan o‘zidan qo‘rqish kerak emas, balki uni yaxshilab o‘rganish kerak.-->

<!--— Ayni qaysi sohalarda sun’iy intellekt ta’siri sezilmoqda?-->

<!--— Sun’iy intellekt media soxasiga shiddat bilan kirib keldi ayniqsa. Tasvir ustida ishlash, montaj qilish kabilarda qo‘l kelyapti. Chet elda shu darajaga chiqdiki, televideniyeda boshlovchilarning sun’iy intellekt shakli yaratilib (avatar), dasturlar olib borilmoqda.-->

<!--— Salbiy tomonlari qanday?-->

<!--— Salbiy tomonlar hamma narsada bor. Deylik, oddiy pichoqdan oshxona anjomi sifatida foydalanish mumkin, qurol sifatida ham foydalanish mumkin. Sun’iy intellekt ham nima maqsadda, kimning qo‘lida ishlatilishiga qarab foydali yoki zararli bo‘lishi mumkin. Masalan, 2022 yil oxirlari, 2023 yil boshlarida ko‘pgina feyk suratlar tarqaldi, bu orqali feyk xabarlar ham chiqdi. Bir tomondan yaxshi keys bo‘ldi bular, chunki faktcheking qilish kerakligi, tekshirish lozimligi o‘rtaga chiqdi.-->

<!--— Olamdan o‘tib ketgan dublyaj aktyorlarimizning ovozini sun’iy intellekt orqali tiklash haqida ham gap bor edi. Shu haqida gapirsangiz.-->

<!--— 2019 yilda rossiyalik rejissyor o‘sha o‘tib ketgan Rossiya aktyorlarining ovozini tiklash loyihasini taqdimot qilgandi. Shunda o‘zbek aktyorlarining ovozini tiklash g‘oyasi paydo bo‘lgan. Shu loyiha ustida 1 yildan beri ishlayapmiz. Hozir Hojiakbar Nurmatov, Sanjar Sa’dullayev, Hamza Umarovlarning ovoz modellarini yaratib ko‘rdik.-->

<!--Maqsadimiz — shu durdona ovozlarni efirga qaytarish. Shaxsan men bu ovozlarni juda sog‘inganman, xalqimiz ham shunday bo‘lsa kerak. Asosan dublyaj va audiokitoblar yaratishda ishlatish rejalashtirilgan.-->

<!--— «Boburnoma» loyihasi, jadidlar qiyofasini tiklash ishlari haqida gaplashsak, bu g‘oyalar qanday paydo bo‘lgan?-->

<!--— Aynan birinchi loyiham «Boburnoma» bo‘lgan. O‘zim tarixni yaxshi ko‘raman. Bobur o‘z asarida shaxslarni tasvirlashda ham, joylarni tasvirlashda ham batafsil tushuntirishlar bergan, bu esa yaxshi baza bo‘lib xizmat qiladi. Taxminan kitobning yarmini tasvirga ko‘chirdik. Bu ishni matnni tasvirga aylantiruvchi sun’iy intellekt dasturi orqali qilganmiz. Birinchi ishlatib boshlaganimiz 3-avlod dasturi edi, unda suratlar unchalik real ko‘rinishda bo‘lmasdi, hozir esa 6-avlod chiqqan allaqachon, bunda suratlar juda real ko‘rinishga ega bo‘ladi.-->

<!--Jadidlarni yoshlarimiz tanishi, qilgan ishlarini bilishi kerak. Shuning uchun ham birinchilardan bo‘lib jadidlarga to‘xtaldik. Jadidlarning suratini ham yuqorida aytilgan dastur orqali tikladik. Bu suratlarni jamoatchilikka taqdim etganimizda ijobiy qabul qilishdi. Bundan tashqari, oq-qora ko‘rinishdagi suratlarni xam ranglashtirib, detallashtirilgan variantini yaratdik.-->

<!--Bilamizki, jadidlarimizning saqlangan suratlari asosan qatag‘on paytidagi suratlar, shuning uchun g‘amgin ko‘rinishda va ular tasavvurimizda shunday bo‘lib qolgan. Shuning uchun obrazlarni o‘zgartirib, mag‘rurroq ko‘rinishdagi variantlar ham qilib ko‘rdik.-->

<!--— Musiqa san’ati borasida sun’iy intellektning ta’siri qanday bo‘lyapti?-->

<!--— Sun’iy intellektning shunday imkoniyatlari borki, agar qo‘shiq matni berilsa va kerakli janr tanlansa, shunga qarab kuy bastalab qo‘shiq aytib beradi. Masalan, Erkin Vohidovning «Inson» qasidasini rus tiliga tarjima qilib, rok yo‘nalishida qo‘shiq yarattirdik, menimcha, yaxshi chiqdi.-->

<!--— Boshqa sohalarda sun’iy intellekt ta’siri qanday bo‘lyapti?-->

<!--— Sun’iy intellekt faqatgina supat generatsiyasi yoki qo‘shiq aytish uchun xizmat qilmaydi. Sun’iy intellekt juda yaxshi yordamchi. Masalan, chet elda sun’iy intellekt yordamida robotlar operatsiyalar o‘tkazyapti, kasallarga tashxis qo‘yyapti.-->

<!--Bir qiziq keys ham mashhur bo‘ldi. Bir ayol qizi kasal bo‘lganda doktorlarga olib boradi, hech biri aniq tashxis qo‘ya olmaydi. Shunda ayol qizidagi alomatlarni, holatni ChatGPT'ga yozadi, u esa aniq tashxis qo‘yib beradi. Umuman, sun’iy intellekt barcha sohaga kirib bormoqda.-->

<!--Lekin sun’iy intellekt yordamida haydovchisiz boshqariladigan mashinalarga ishonmagan bo‘lardim. Hali u qadar ideal darajaga yetgani yo‘q.-->

<!--Media sohasi vakili bo‘lganim uchun ko‘proq shu sohaga urg‘u beraman. Yana masalan, 3D multifilmlarni ishlash uchun oldin bir necha oylab vaqt ketgan bo‘lsa, hozir esa sun’iy intellekt yordamida ancha tezlashdi jarayon. Personajni oddiy so‘zlar yordamida yozib uni yaratish mumkin. Animatsiyada ham sun’iy intellekt juda rivojlanib bormoqda. 2024 yil sun’iy intellekt sohasida animatsiya va jonlashtirish yili bo‘ladi, deb o‘ylayman.</p>-->
<!--    </div>-->

<!--    <div>-->
<!--        <h2>18 davlat sun’iy intellekt texnologiyalarini xavfsiz qilishga chaqirdi</h2>-->
<!--        <p>AQSh, Buyuk Britaniya, Germaniya va yana 15 davlat iste’molchilarni sun’iy intellektdan (SI) noto‘g‘ri foydalanishdan himoya qilish bo‘yicha kelishuv imzoladi. 27 noyabr, dushanba kuni chop etilgan 20 sahifalik hujjat sun’iy intellekt tizimlarini tajovuzkorlardan himoya qilish bo‘yicha sun’iy intellekt kompaniyalariga tavsiyalar beradi.-->

<!--Xususan, sun’iy intellektni ishlab chiquvchi va joriy etuvchi kompaniyalar kiberjinoyatchilarning ulardan foydalanishiga yo‘l qo‘ymaslik va foydalanuvchilar maxfiy ma’lumotlarining uchinchi shaxslarga yetib borishining oldini olish uchun ushbu tizimlarni «tuzilmasi bo‘yicha xavfsiz» qilishi tavsiya etiladi. Shu bilan birga, SI bilan ishlashning barcha bosqichlarida potensial xavflarni hisobga olish kerak: ishlab chiqish, amalga oshirish, foydalanish va texnik xizmat ko‘rsatishda.-->

<!--«SI tizimlari standart kiberxavfsizlik tahdidlari bilan bir qatorda, ko‘rib chiqilishi kerak bo‘lgan yangi zaifliklarga duchor bo‘lishi mumkin. Rivojlanish tezligi yuqori bo‘lganda - sun’iy intellektda bo‘lgani kabi - xavfsizlik ko‘pincha so‘nggi o‘rinni egallashi mumkin. Biroq, xavfsizlik faqat ishlab chiqish bosqichida emas, balki tizimning butun hayotiy sikli davomida ham asosiy talab bo‘lishi kerak», — deyiladi hujjatda.-->

<!--Ko‘rsatmalar majburiy emas, biroq ekspertlar fikricha, 18 davlat ishtirokidagi kelishuv muhim qadamdir. AQSh Kiberxavfsizlik boshqarmasi va Infratuzilma xavfsizligi agentligi direktori Jyen Isterlining so‘zlariga ko‘ra, ushbu hujjatda SI texnologiyalari «bozorga tezda olib kelinishi mumkin bo‘lgan ajoyib xususiyatlar emas» - ularni ishlab chiqishdagi eng muhim jihat xavfsizlik ekanligi ta’kidlanadi.-->

<!--Avvalroq Yevropa Ittifoqi, Germaniya, Fransiya, AQSh va boshqa ba’zi davlatlar, shuningdek, yirik IT-konsernlari vakillari, jumladan ChatGPT’ni yaratgan Open AI kompaniyasi menejyerlari hamda Tesla va SpaceX asoschisi Ilon Mask «Blechli deklaratsiyasi»ni imzolagan edi. U sun’iy intellekt texnologiyalarini xavfsiz ishlab chiqish va joriy etishga chaqiradi. </p>-->
<!--    </div>-->

<!--    <div>-->
<!--        <h2>Google o‘zining eng kuchli Gemini sun’iy intellekt modelini ishga tushirdi</h2>-->
<!--        <p>U OpenAI kompaniyasining GPT-4 modeliga asosiy raqobatchi bo‘lishi mumkin.-->

<!--Google kompaniyasi Gemini neyron tarmog‘ini ishga tushirdi. Kompaniya uni sun’iy intellektning eng kuchli va samarali modeli deb atamoqda.-->

<!--Gemini uchta komponentni o‘z ichiga oladi: Ultra (eng katta va eng funksional), Pro (keng ko‘lamli vazifalar uchun) va Nano (aniq vazifalar va mobil qurilmalar uchun). Ularning barchasi rasmlar, audio va videolarni qo‘llab-quvvatlaydi.-->

<!--Ultra eng kuchli tarmoq bo‘lib, 57 ta fan (matematika, fizika, tarix, huquq, tibbiyot, etika va boshqalar) bo‘yicha ma’lumotlarni o‘z ichiga oladi va mustaqil ravishda faktlarni tekshirish va muammolarni hal qilish imkoniyatiga ega.-->

<!--«Gemini - bu turli Google jamoalari o‘rtasidagi hamkorlik mahsulidir. Bu model noldan yaratilgan. U matn, kod, audio, tasvir va videoni o‘z ichiga olgan har xil turdagi ma’lumotlarni umumlashtirishi va oson tushunishi, qayta ishlashi va birlashtirishi mumkin», dedi Sundar Pichai, Alphabet (Google) kompaniyasi bosh direktori.-->

<!--Gemini API va boshqa vositalar bilan oson integratsiyalasha oladi. Shu sababli, 13 dekabrdan boshlab ishlab chiquvchilar va korporativ mijozlar Pro modelidan foydalanishi mumkin bo‘ladi. 7 dekabrdan boshlab Google Bard rejalashtirish, murakkab mavzularni tushunish va hokazolarda yordam berish uchun undan foydalana boshlaydi.-->

<!--Keyinchalik Nano model ishga tushiriladi. Uning yordamida ishlab chiquvchilar Android uchun ilovalar yaratishi mumkin bo‘ladi.-->

<!--2024 yilda Ultra modeli asosida Bard Advanced ishga tushiriladi. Bu chatbot joriy qilinganidan beri eng katta yangilanish bo‘ladi.</p>-->
    </div>


 <button><a href='http://127.0.0.1:8000/' >Ortga</a></button>
</body>
</html>